@media only screen and (max-width:1400px) {
	html,
	body {
		font-size:14px;
	}
}

@media only screen and (max-width:1200px) {
	html,
	body {
		font-size:14px;
	}

    /************************** About Section **************************/

    .about-col:last-child {
        padding-top: 20%;
    }

    /************************** Skills Section **************************/

    .skill-box {
       height: 420px;
        width: 100%;
    }

    .skill-head-icon {
        height: 45px;
        width: 45px;
        margin: 5% 40%;
    }

    .skill-set-space {
        padding-top: 10%;
    }

    .skill-set-space li {
        font-size: 120%;
    }
    
    /************************** Project Section **************************/

    .project-col:first-child {
        padding-left: 8%;
    }

    .project-col:last-child {
        padding-top: 4%;
        margin-left: 0%;
    }

    .project-icon {
        width: 20px;
        height: 20px;
    }

    .project-extra-para {
        margin-left: 49%;
    }

    /************************** Contact Section **************************/

    #contact-section {
    padding-bottom: 12%
    }

}

@media only screen and (max-width:1025px) {
	html,
	body {
		font-size:12px;
	}

    /************************** About Section **************************/

    .profile-pic {
        width: 95%;
    }

    .about-col:last-child {
        padding-top: 17%;
        margin-left: -12%;
  
    }

    /************************** Skills Section **************************/

    .skill-box {
        height: 390px;
    }

    /************************** Project Section **************************/

    .project-img {
        width: 85%;
    }

    .project-col:last-child {
        padding-top: 2%;
        margin-left: -2%;        
    }

    .project-extra-para {
        margin-top: -2%;
    }

    /************************** Contact Section **************************/

    #contact-section {
        padding-bottom: 19%
        }

}

@media only screen and (max-width:770px) {
	html,
	body {
		font-size:12px;
	}

    /************************** Navigation Bar **************************/

    #navigation-bar ul {
        padding-left: 30%;
    }

    /************************** About Section **************************/

    .about-col {
        padding: 60px;
        
    }

    .about-col:first-child {
        padding-left: 8%;
    }

    .profile-pic {
        width: 100%;
    }

    .about-col:last-child {
        padding-top: 15%;
        margin-left: -12%;
        padding-right: 0%;
  
    }   

    /************************** Skills Section **************************/

    .skill-content-space {
        padding-left: 0%;
    }

    .skill-box {
        height: 350px;
        width: 105%;
    }

    .skill-head-icon {
        height: 35px;
        width: 35px;
    }

    .skill-set-space li {
        padding: 0px 15%;
    }

    /************************** Project Section **************************/

    .project-extra-para {
        margin-left: 20%;
        margin-top: 3%;
    }
    
    /************************** Contact Section **************************/

    #contact-section {
        padding-bottom: 27%
    }
    

}


@media only screen and (max-width:660px) {


    /************************** Navigation Bar **************************/

    #navigation-bar ul {
        padding-left: 25%;
    }

    /************************** About Section **************************/

    .about-col:first-child {
        padding-left: 5%;
    }

    .about-col:last-child {
        width: 380px;
        padding-left:  5%;
    }

    .about-col {
        padding: 50px;
    }

    .about-btn:visited,
    .about-btn:link {  
    font-size: 110%;
    padding:10px 20px;
    }

    /************************** Skills Section **************************/

    .skill-icon {
        width: 20px;
        height: 20px;
    }

    .skill-head-icon {
        height: 25px;
        width: 25px;
    }

    .skill-col:first-child .skill-head-space,
    .skill-col:nth-last-child(3) .skill-head-space {
        margin-bottom: 22%;
    }

    .skill-set-space li {
        padding: 0px 12%;
    }

    .skill-box {
        height: 320px;
    }

    /************************** Project Section **************************/

    .project-col:first-child {
        padding-left: 3%;
    }

    /************************** Contact Section **************************/

    .contact-box:first-child {
        width: 500px;
    }
    
    

}

@media only screen and (max-width:480px) {

    /************************** Navigation Bar **************************/

    #navigation-bar ul {
        padding-left: 15%;
    }

    /************************** About Section **************************/

    .about-col {
        padding: 60px;
        
    }

    .about-col:first-child {
        padding-left: 20%;
    }

    .about-col h1 {
        text-align: center;
    }

    .profile-pic {
        width: 90%;
    }

    .about-col:last-child {
        margin-top: -25%;
        margin-left: 7%;
        padding-right: 0%;
  
    }
    
    /************************** Skills Section **************************/

    .skill-box {
        height: 300px;
        width: 90%;
        margin-bottom: 5%;
    }

    .skill-content-space {
        padding-left: 5%;
        margin-bottom: 5%;
    }

    .skill-col:first-child .skill-head-space,
    .skill-col:nth-last-child(3) .skill-head-space {
        margin-bottom: 10%;
    }

    /************************** Project Section **************************/

    .project-col:first-child {
        padding-left: 25%;
    }

    .project-img {
        width: 70%;
    }

    .project-col:last-child {
        padding-top: 5%;
        padding-left: 13%;
        padding-right: 7%;
        
    }

    .project-heading {
        text-align:center;
    }

    .project-extra-para {
        margin-left: 5%;
        margin-top: 7%;
    }

    /************************** Contact Section **************************/

    #contact-section {
        padding-bottom: 46%
    }
    

    /************************** Footer Section **************************/

    #footer {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 38%;
    }

    #footer h1 {
        font-size: 180%;
}

}

@media only screen and (max-width:320px) {
    html,
	body {
		font-size:10px;
	}

    /************************** Navigation Bar **************************/

    #navigation-bar ul {
        padding-left: 5%;
    }

    #navigation-bar li {
        font-size: 120%;
        margin: 10px;        
    }

    /************************** About Section **************************/

    .about-col {
        padding: 40px;
        
    }

    .about-col:first-child {
        padding-left: 25%;
    }

    .about-heading {
        text-align: center;
    }

    .about-col:last-child {
        margin-left: -4%;
        padding-right: 4%;
  
    }

    .about-btn:visited,
    .about-btn:link {
    font-size: 110%;
    font-weight: bold;
    padding:10px 20px;
    }

    /************************** Skills Section **************************/

    .skill-content-space {
        padding-left: 9%;
    }

    .skill-col:first-child .skill-box{
        height: 220px ;
    }

    .skill-col:nth-last-child(2) .skill-box{
        height: 220px ;
    }

    .skill-head-space {
        margin-bottom: 6%; 
    }

    .skill-head-icon {
        height: 30px;
        width: 30px;
    }

    .skill-set-space li {
        font-size: 150%;
        padding: 0px 25%;
    }

    /************************** Project Section **************************/

    .project-img {
        width: 80%;
    }

    .project-col:first-child {
        margin-top: -7%;
        padding-left: 15%;
    }

    .project-btn:visited,
    .project-btn:link {
    font-size: 110%;
    font-weight: bold;
    padding:10px 20px;
    }

}
