* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body {
    font-family:'Work Sans';
    font-size:14px;
    color:#555; 
}

.section-head {
    padding: 50px 0px;
    text-align: center;
    text-decoration: underline;
    font-size: 220%;
}

/************************** Navigation Bar **************************/

#navigation-bar {
    position:fixed;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

#navigation-bar ul {
    list-style: none;
    padding-left: 35%;
}

#navigation-bar li {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 15px;        
}

#navigation-bar li a:link,
#navigation-bar li a:visited {
    text-decoration: none;
    color: #555;
}

#navigation-bar li a:hover,
#navigation-bar li a:active {
    color: #000;
    text-decoration: underline;
}

/************************** About Section **************************/

.about-col {
    padding: 100px;
    margin-bottom: 5%;
}

.about-col:first-child {
    padding-left: 10%;
}

.about-col:last-child {
    padding-top: 15%;
    margin-left: -10%;
    padding-right: 5%;
}

.profile-pic {
    border-radius: 10%;
}

.about-heading {
    font-size: 200%;
    padding-bottom: 15px;
}

.about-para {
    font-size: 120%;
    line-height: 150%;
    padding-bottom: 30px;
}

.about-btn:visited,
.about-btn:link {
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    font-family:'Work Sans';
    color:#555;   
    padding:10px 30px;
    border-radius: 20px;
}

.about-btn:hover, 
.about-btn:active {
    background-color: rgb(230, 230, 230);
    color: #000;
}

/************************** Skills Section **************************/

#skill-section {
    background-color:rgba(17, 103, 177,.2);
    padding: 2% 3%;
}

    .skill-content-space {
        padding-left: 3%;
    }

.skill-box {
    background-color: rgb(245, 245, 245);
    height: 470px;
    width: 90%;
    border-radius: 10%;
    text-align:left;
}

.skill-box:hover,
.skill-box:active {
    background-color: rgb(255, 255, 255);
}

.skill-head-space {
    margin-bottom: 10%; 
}

.skill-head-icon {
    height: 50px;
    width: 50px;
    margin: 5% 40%;
}

.skill-head {
    font-size:150%;
    color:#555;
    text-align: center;
}

.skill-set-space {
    padding-top: 5%;
    border-top: 2px solid rgba(17, 103, 177,.2);
}

.skill-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.skill-set-space ul {
    list-style: none;
}

.skill-set-space li {
    font-size: 130%;
    color:#555;
    font-weight: bold;
    line-height: 200%;
    padding: 0px 25%;
}

/************************** Project Section **************************/

#project-section {
    padding: 2% 3%;
}

.project-col:first-child {
    padding-left: 10%;
}

.project-img {
    border-radius: 10%;
}

.project-col:last-child {
    padding-top: 2%;
    margin-left: -5%;
}

.project-heading {
    font-size: 200%;
    padding-bottom: 15px;
}

.project-para {
    font-size: 130%;
    line-height: 150%;
    padding-bottom: 30px;
}

.project-btn:visited,
.project-btn:link {
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    font-family:'Work Sans';
    color:#555;   
    padding:10px 30px;
    border-radius: 20px;
}

.project-btn:hover, 
.project-btn:active {
    background-color: rgb(230, 230, 230);
    color: #000;
}

.project-icon {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-bottom: -3px;
    margin-right: 5px;
}

.project-extra-para {
    margin-left: 44%;
    margin-bottom: 7%;
}

.project-extra-para p{
    font-size: 130%;
    line-height: 150%;
}

.project-extra-para a {
    text-decoration: none;
    font-size: 100%;
}

.project-extra-para a:visited,
.project-extra-para a:link {
    color: #555;
}

.project-extra-para a:hover,
.project-extra-para a:active {
    color: #000;
}
  
/************************** Contact Section **************************/

#contact-section {
    background-color:rgba(17, 103, 177,.2);
    padding: 2%;
    padding-bottom: 10%
}

.contact-box:first-child {
        padding-left: 10%;
}

.contact-box ul {
        list-style: none;
        line-height: 300%;
        font-size: 120%;
        font-weight: bold;
}

.contact-icon {
        width: 25px;
        height: 25px;
        margin-top: 3px;
        margin-bottom: -3px;
        margin-right: 15px;
    }

.contact-box a {
    text-decoration: none;
    color:#555; 
    font-weight: bold;
}

/************************** Footer Section **************************/

#footer {
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 45%;
}

#footer h1 {
    font-size: 140%;
}
